@import '../../../style/main.scss';

$color-text-sizes: $color-limed-spruce;

.sizes-selector {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  color: $color-text-sizes;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;

  &__form {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  &__input {
    display: none;
  }

  &__size {
    padding: 0 5px;
  }

  &__wrapper {
    display: flex;
  }

  &__label {
    cursor: pointer;

    &_checked {
      color: $color-orange;
    }

    &:hover {
      opacity: .7;
    }
  }
}
