@import '../../style/main.scss';

$color-text-primary: $color-river-bed;
$color-text-header: $color-limed-spruce;
$color-text-secondary: $color-orange;

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &_top-down-big {
    margin: 40px 0 60px 0;
  }

  &__title {
    color: $color-text-header;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;

    &_colored {
      margin-right: 5px;
      color: $color-text-secondary;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  &__description {
    margin-top: 30px;
    color: $color-river-bed;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 29.99px;
  }

  &_margin-small {
    margin: 130px 0 30px 0;
  }
}
