@import "../../../style/main";
@import "../../../style/main";

.filter-checkbox {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    align-items: center;
    @include font-primary-regular-md;
    color: $color-limed-spruce;
    margin-top: 20px;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    width: 0; //needed to preven element stretching

    &:hover {
      color: $color-orange;
    }
  }

  &__button {
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    margin: 0;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
    &:hover {
      color: $color-orange;
      &:after {
        background-color: $color-orange;
      }
    }

    &:checked{
      &:after {
        content: "";
        visibility: visible;
        position: absolute;
        left: 0;
        border: 4px solid $color-orange;
        background-color: $color-white;
        width: 9px;
        height: 9px;
      }
    }

    &:after {
      content: "";
      visibility: visible;
      position: absolute;
      left: 0;
      border: 4px solid $color-porcelain;
      background-color: $color-porcelain;
      width: 9px;
      height: 9px;
    }

    &:checked + span {
      color: $color-orange;
      text-shadow: 0px 0px 1px $color-orange;
    }
  }
}