body {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 3px;
  }
   
  &::-webkit-scrollbar-track {
    background: transparent;
  }
   
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ff5912; 
  }
}

.scroll-disabled { //TODO do something with it
  height: 100%;
  overflow: hidden;
}

.scroll-enabled {
  height: auto;
  overflow: auto;
}
