@import "../../style/main.scss";
.feedback-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 100px auto 0 auto;
  border-radius: 2px;
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, .3) 0px 1px 4px -1px;
}
