@import "../../style/main.scss";

.user-info-input {
  @include font-primary-regular-md;
  transition: 200ms ease;
  border: 0;
  border-bottom: 2px solid $color-porcelain;
  height: 35px;
  width: 290px;
  padding: 0 10px;
  color: $color-limed-spruce;
  outline: 0;

  &_valid {
    border-bottom: 2px solid $color-green;
    &:focus {
      border-bottom: 2px solid $color-green;
    }
  }

  &_invalid {
    border-bottom: 2px solid $color-red;
    &:focus {
      border-bottom: 2px solid $color-red;
    }
  }

  &:focus {
    border-bottom: 2px solid $color-slate-gray;
  }
}

.user-info-input-label {
  display: none;
}

.user-info-input-wrapper {
  position: relative;
  margin: 20px 0;

  &__show-password {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
