@import '../../../style/main.scss';

.slider {
  &__button-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88px;
    width: 10px;
  }

  &__button {
    border: 0;
    width: 10px;
    height: 17px;
    padding: 0;
    cursor: pointer;
    background-color: $color-white;

    &:focus {
      outline: 0;
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, .15);
    }

    &_activate {
      transition-property: height, background-color;
      transition: 400ms ease-out;
      height: 36px;
      background-color: $color-orange;
    }

    &_deactivate {
      transition-property: height, background-color;
      transition: 400ms ease-in;
      height: 17px;
      background-color: $color-white;
    }
  }
}