@import './../../../../style/main.scss';

.chooser {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid $color-athens-gray;
  border-bottom: 1px solid $color-athens-gray;

  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

  }

  &__heading {
    @include font-primary-bold-xxl;
    color: $color-orange;
    margin: 0;

    &_secondary {
      @include font-primary-regular-md;
      margin: 0;
      color: $color-limed-spruce;
    }
  }

  &__paragraph {
    @include font-primary-regular-sm;
    line-height: 29.97px;
    color: $color-river-bed;
  }

  &__size {
    display: flex;

  }

  &__sizes {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 120px;
  }

  &__size-value {
    @include font-primary-regular-md;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 20px;

    &_chosen {
      color: $color-orange;
      font-size: $font-size-semi-lg;
    }

    &:before {
      content: "-";
      padding: 0 10px;
      color: black;
    }

    &:nth-child(1) {
      &:before {
        content: "";
        padding: 0;
      }
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
  }

  &__quantity-number {
    @include font-primary-regular-md;
  }

  &__quantity-button {
    padding: 0 20px;
    cursor: pointer;
    @include font-primary-regular-semi-md
  }
}