@import "../../../style/main";

.not-found {
  display: flex;
  height: 60vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__header {
    @include font-primary-bold-xxl;
    color: $color-orange;
    margin: 0
  }

  &__paragraph {
    @include font-primary-regular-semi-lg
  }
}