@import "../../style/main.scss";

.about {
  @include font-primary-regular-md;
  background-color: $color-athens-gray;

  &__info-wrapper {
    box-sizing: border-box;
    margin: 30px auto 100px auto;
    max-width: 1000px;
    padding: 0 50px;
    @media all and (max-width: 1220px) {
      padding: 0 30px;
    }
    @media all and (max-width: 767px) {
      padding: 0 5px;
    }
  }

  &__info {
    text-align: center;
  }
}
