$color-orange: #ff5912;
$color-limed-spruce: #3c4751;
$color-river-bed: #495662;
$color-white: #ffffff;
$color-slate-gray: #7c8791;
$color-atomic-tangerine: #ff9060;
$color-athens-gray: #f4f6f8;
$color-black: #000000;