@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');

$primary-font: 'Open Sans', sans-serif;

$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 36px;
$font-size-very-large: 52px;