@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700|Titillium+Web:700&display=swap');

$font-primary: 'Poppins', 'Open Sans', sans-serif;
$font-logo: 'Titillium', ;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-semi-md: 16px;
$font-size-md: 18px;
$font-size-semi-lg: 22px;
$font-size-lg: 32px;
$font-size-xl: 36px;
$font-size-xxl: 52px;
