@import '../../style/main.scss';

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 20px;
  z-index: 10;

  &__item {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    min-width: 100px;
    padding: 10px;
    background-color: $color-orange;
    margin-top: 3px;

    
    &_animation {
      animation: fadein 1s ease-out, fadeout 5s 7s forwards;
    }
  }

  &__text {
    @include font-primary-regular-sm;
    color: $color-white;
  }
}

@media all and (max-width: $breakpoint-mobile) {
  .popup {
    width: calc(100% - 40px);
  }
}