@import './../../../style/main.scss';

$color-border: $color-athens-gray;

.product-images {
  align-items: center;
  width: 40%;

  &__main {
    height: 275px;
    object-fit: contain;
    width: 100%;
    padding: 80px 0 60px;
    cursor: zoom-in;
  }

  @media screen and (max-width: $breakpoint-smartphone) {
    width: 100%;
  }
}

