@import '../../../style/main.scss';

.add-to-cart-button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 30px;
  background-color: transparent;
  outline: none;

  &:hover, &:focus  {
    fill: $color-orange;
    stroke: $color-orange;

  }
}
