.section {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 50px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;

    @media screen and (max-width: 1133px){
      justify-content: center;
    }
  }
}
