.color-selector {
  display: flex;
  align-items: baseline;
  
  &__form {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    height: 17px;
  }

  &__container {
    display: block;
    position: relative;
    content: "";
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_checked {
      width: 18px;
      height: 18px;
    }

    &:hover {
      box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    }
  }

  &__button {
    display: none;
  }
}

.color-selector-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  padding: 0 3px;
}
