@import "../../style/main";

.sale-item {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  margin-right: 30px;
  min-height: 100px;
  max-width: 670px;
  padding: 0 10px;
  background-color: $color-white;

  @media screen and (max-width: 655px) {
    justify-content: center;
    padding: 15px;
  }

  @media screen and (max-width: 1133px) {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 600px) {
    margin: 0 0 30px 0;
  }

  &__sale {
    position: relative;
    order: 1;
    height: 80px;
    width: 80px;

    @media screen and (max-width: 654px) {
      order: 3;
      margin-right: 20px;
    }
  }

  &__sale-text-block {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__sale-label {
    margin: 0;
    font: 400 $font-size-extremely-small $primary-font;
    font-style: italic;
    color: $color-white;
  }

  &__sale-size {
    margin: 0;
    margin-top: -4px;
    font: 700 $font-size-medium $primary-font;
    color: $color-white;
  }

  &__decorator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &_1 {
      z-index: 2;
    }

    &_2 {
      z-index: 1;
    }
  }

  &__item-info {
    order: 2;
    margin-right: 10px;
    margin-left: 30px;
    border-right: 1px solid $color-athens-gray;
    padding-right: 37px;

    @media screen and (max-width: 654px) {
      margin: 0;
      border-right: 0;
      border-bottom: 1px solid $color-athens-gray;
      width: 100%;
      padding: 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  &__item-name {
    margin: 0;
    margin-bottom: 16px;
    font: 700 $font-size-semi-large $primary-font;
    color: $color-limed-spruce;
    text-transform: uppercase;
  }

  &__item-description {
    margin: 0;
    font: 400 $font-size-extremely-small $primary-font;
    color: $color-river-bed;
  }

  &__purchase-info {
    order: 3;
    display: flex;
    align-items: center;
  }

  &__bucket-button {
    transition: opacity 200ms ease;
    margin-right: 21px;
    border: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    background-image: url(./assets/bucket.png);
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
    &:focus {
      opacity: 0.5;
      outline: 0;
    }
  }

  &__price {
    margin: 0;
    color: $color-orange;
    font: 700 $font-size-large $primary-font;
    &_money-sign {
      font-size: $font-size-semi-large;
    }
  }
}
