@import '../../../style/colors';

.card-window{
  &__close-button {
    transition: color 300ms ease;
    border: 0;
    height: 100%;
    padding: 0;
    background: transparent;
    outline: 0;
    cursor: pointer;
    color: $color-orange;
    font-size: 20px;

    &:hover {
      opacity: .7;
    }

    &:focus {
      opacity: .7;
    }
  }
}