.card-window{
  &__close-button {
    transition: color 300ms ease;
    border: 0;
    height: 100%;
    padding: 0;
    background: transparent;
    outline: 0;
    cursor: pointer;
    color: #ff5912;
    font-size: 40px;

    &:hover {
      opacity: .7;
    }

    &:focus {
      opacity: .7;
    }
  }
}