@import url(//db.onlinewebfonts.com/c/32eb6c28879dcfcaf97b75a5194441e9?family=HarmoniaSansProCyrRegular);
@import url(//db.onlinewebfonts.com/c/bcc66d56db6dce82b68eeb2bb20b07ce?family=HarmoniaSansProCyrBold);

.header {
  max-width: 1270px;
  padding: 0 50px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &_page {
      align-items: center;
      border-bottom: 1px solid rgba($color: #e6e8e6, $alpha: 0.5);  
    }

    &_sm {
      padding: 25px 0;
    }

    &_lg {
      padding: 40px 0;
    }
  }

  &__text {
    font-family: HarmoniaSansProCyrRegular;
    font-style: normal;
    padding-right: 20px;

    &_md {
      font-size: 12px;
    }

    &_email::before {
      content: '';
      display: inline-block;
      background: url(../../assets/Mail_Ico.png) no-repeat;
      width: 18px;
      height: 12px;
      margin-bottom: -2px;
      margin-right: 10px; 
    }

    &_phone::before {
      content: '';
      display: inline-block;
      background: url(../../assets/Phone_Ico.png) no-repeat;
      width: 12px;
      height: 12px;
      margin-bottom: -2px;
      margin-right: 10px;
    }
  }

  &__icon {
    box-sizing: border-box;
    margin-left: 15px;
    width: 20px;
    height: 20px;

    &:hover {
      opacity: .5;
      cursor: pointer;
    }

    &_big {
      width: 30px;
      margin-left: 30px;
    }

    &_facebook {
      background: url(../../assets/facebook.svg) no-repeat right;
    }

    &_twitter {
      background: url(../../assets/twitter.svg) no-repeat right;
    }

    &_gplus {
      background: url(../../assets/google_+.svg) no-repeat right;
    }

    &_instagram {
      background: url(../../assets/instagram.svg) no-repeat right;
    }

    &_search {
      background: url(../../assets/Search_Ico.png) no-repeat right;
    }

    &_user {
      background: url(../../assets/User_Ico.png) no-repeat right;
    }

    &_cart {
      background: url(../../assets/Cart_Ico.png) no-repeat right;
    }
  }

  &__logo {
    background: url(../../assets/logo.png) no-repeat;
    width: 120px;
    height: 40px;
  }

  &__links {

    &-container {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 80px;
    }

    &-item {
      text-decoration: none;
      color: #34404b;
      font-size: 16px;
      padding: 0;
      margin-right: 20px;
      &:hover, &_active {
        color: #ff5912;
      }
    }
  }

  &__search {
    &-container {
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
    }

    &-bar {
      flex-grow: 1;
      background-color: #f4f6f8;
      border: 1px solid #333333;
      border-radius: 10px;
      padding: 2px 7px;
      visibility: hidden;
    }

    &-button {
      display: none;

      &:checked ~ .header__search-bar{
        visibility: visible;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .header {
    &__wrapper_column {
      flex-direction: column;
    }

    &__links-container {
      padding: 0;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    &__search-container {
      order: 1;
      margin-top: 20px;
    }
  }
}