@import '../../style/main.scss';

.header {
  align-self: center;
  box-sizing: border-box;
  max-width: 1270px;
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__menu-data-input {
    display: none;
  }

  &__menu-button {
    font-size: 50px;
    font-family: "Inconsolata", monospace;
    line-height: normal;
    font-weight: 400;
    text-transform: none;
    color: $color-black;
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;

    &::after {
      content: attr(data-closed);
      margin-right: -2px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &_page {
      align-items: center;
      border-bottom: 1px solid rgba($color: $color-athens-gray, $alpha: 0.5);  
    }

    &_sm {
      padding: 25px 0;
    }

    &_lg {
      padding: 40px 0;
    }
  }

  &__text {
    font-family: $font-primary;
    font-style: normal;
    padding: 0 10px;
    text-decoration: none;

    &_md {
      font-size: $font-size-xs;
      color: $color-limed-spruce;
    }

    &_email::before {
      content: '';
      display: inline-block;
      background: url(../../assets/Mail_Ico.png) no-repeat;
      width: 18px;
      height: 12px;
      margin-bottom: -2px;
      margin-right: 10px;
    }

    &_phone::before {
      content: '';
      display: inline-block;
      background: url(../../assets/Phone_Ico.png) no-repeat;
      width: 12px;
      height: 12px;
      margin-bottom: -2px;
      margin-right: 10px;
    }
  }

  &__icon {
    box-sizing: border-box;
    margin-left: 15px;
    width: 20px;
    height: 21px;

    &:hover {
      fill: $color-orange;
      stroke: $color-orange;
      cursor: pointer;
    }

    &_big {
      width: 20px;
      height: 20px;
      margin-left: 25px;
      outline: none;
    }

    &_fav {
      display: flex;
    }

    &_facebook {
      background: url(../../assets/facebook.svg) no-repeat right;
    }

    &_twitter {
      background: url(../../assets/twitter.svg) no-repeat right;
    }

    &_gplus {
      background: url(../../assets/google_+.svg) no-repeat right;
    }

    &_instagram {
      background: url(../../assets/instagram.svg) no-repeat right;
    }


    &_cart {
      margin-left: 0;
      border: 0;
      width: 28px;
      padding: 0;
    }
  }

  &__cart-counter {
    position: absolute;
    top: -16px;
    @include font-primary-light-xxs;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: $color-limed-spruce;
    color: $color-white;
  }

  &__icon-cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  &__links {
    &-container {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
    }

    &-item {
      text-decoration: none;
      color: $color-limed-spruce;
      font-size: $font-size-semi-md;
      padding: 0;
      margin-right: 15px;
      text-align: center;
      white-space: nowrap;
      &:hover, &_active {
        color: $color-orange;
      }
    }
  }

  &__search-clear-button{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 55px;
    width: 15px;
    height: 15px;
    transition: all .1s;

    &:hover {
      fill: $color-orange;
    }

    &:active {
      fill: $color-orange;
      top: 17px;
      right: 58px;
      transition: all .35s;
      width: 10px;
      height: 10px;
    }

    &_hidden{
      visibility: hidden;
    }

    @media screen and (max-width: $breakpoint-smartphone){
      right: 20px;
      &:active {
        top: 17px;
        right: 25px;
        transition: all .35s;
        width: 10px;
        height: 10px;
      }
    }
  }

  &__search {
    &-container {
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    &-bar {
      @include font-primary-regular-semi-md;
      color: $color-limed-spruce;
      flex-grow: 1;
      background-color: $color-white;
      border: none ;
      border-radius: 10px;
      padding: 10px 10px;
      outline: none;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
      padding-right: 35px;
      box-shadow:  0 0 0 1px $color-orange;

      &_hidden {
        box-shadow:  none;
      }

      &:focus{
        box-shadow:  0 0 0 2px $color-orange;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        box-shadow:  0 0 0 2px $color-orange;
      }
    }
  }
}

@media all and (max-width: 1220px) {
  .header {
    padding: 0 30px;
    &__wrapper {
      &_column {
      flex-direction: column;
      align-items: stretch;
      }

      &_lg {
        padding: 20px 0;
      }
    }

    &__links-container {
      padding: 0;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    &__logo {
      align-self: center;
    }

    &__links-item {
      margin-right: 14px;
    }
  }
}

@media all and (max-width: $breakpoint-tablet-vertical) {
  .header {
    &__search-container {
      order: 1;
      margin-top: 20px;
      width: 100%;
    }

    &__icon_fav {
      justify-content: flex-end;
    }
  }
}

@media all and (max-width: $breakpoint-smartphone) {
  .header {
    padding: 0;
    &__wrapper  {
      flex-direction: column;
      align-items: center;

      &_row {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }

      &_lg {
        background: $color-white;
        flex-direction: row;
        padding: 10px;
        border: 0;
      }

      &_sm {
        padding: 10px 0;
      }
    }

    &__icon {
      margin: 0;
      margin-top: 10px;
      background-position: center;

      &_big {
        margin: 0;
      }

      &_fav {
        justify-content: center;
      }

      &_cart {
        background-color: transparent;
      }

      &_search {
        margin: 0;
        margin-left: 10px;
        align-self: center;
      }
    }

    &__search-container {
      flex-grow: initial;
      width: 80%;
    }

    &__search-bar {
      visibility: visible;
    }

    &__links-container {
      flex-direction: row;
      align-items: center;
      margin: 0;
      justify-content: space-around;
      flex-grow: 1;
      padding-left: 20px;
    }

    &__menu-button {
      display: block;
      order: 1;
      margin: 0;
      margin-top: -12px;
    }

    &__burger-menu {
      display: none;
    }

    &__links-item {
      margin-right: 0;
    }
  }


  .header__menu-data-input:checked + .header__links-container {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: $color-white;
    padding-bottom: 100px;
    padding-left: 0;
    box-sizing: border-box;
    transition: all .35s;


    & .header {
      &__icon {
        &_big, &-cart-wrapper, &_search {
        display: none;
        }
      }

      &__search-container {
        margin: 0;
      }

      &__burger-menu {
        display: flex;
      }

      &__menu-button {
        order: 0;

        &::after {
          content: attr(data-opened);
        }
      }
    }
  }
}

@media all and (max-width: $breakpoint-mobile) {
  .header {
    &__links-container {
      flex-direction: row;
      align-items: center;
      margin: 0;
      justify-content: space-between;
      padding-left: 20px;
    }

  }
}