@import '../../style/main.scss';

.header {
  align-self: center;
  box-sizing: border-box;
  max-width: 1270px;
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__menu-data-input {
    display: none;
  }

  &__menu-button {
    font-size: 50px;
    font-family: "Inconsolata", monospace;
    line-height: normal;
    font-weight: 400;
    text-transform: none;
    color: #000000;
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;

    &::after {
      content: attr(data-closed);
      margin-right: -2px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &_page {
      align-items: center;
      border-bottom: 1px solid rgba($color: $color-athens-gray, $alpha: 0.5);  
    }

    &_sm {
      padding: 25px 0;
    }

    &_lg {
      padding: 40px 0;
    }
  }

  &__text {
    font-family: $font-primary;
    font-style: normal;
    padding: 0 10px;

    &_md {
      font-size: $font-size-xs;
    }

    &_email::before {
      content: '';
      display: inline-block;
      background: url(../../assets/Mail_Ico.png) no-repeat;
      width: 18px;
      height: 12px;
      margin-bottom: -2px;
      margin-right: 10px;
    }

    &_phone::before {
      content: '';
      display: inline-block;
      background: url(../../assets/Phone_Ico.png) no-repeat;
      width: 12px;
      height: 12px;
      margin-bottom: -2px;
      margin-right: 10px;
    }
  }

  &__icon {
    box-sizing: border-box;
    margin-left: 15px;
    width: 20px;
    height: 20px;

    &:hover {
      opacity: .5;
      cursor: pointer;
    }

    &_big {
      width: 30px;
      margin-left: 30px;
    }

    &_facebook {
      background: url(../../assets/facebook.svg) no-repeat right;
    }

    &_twitter {
      background: url(../../assets/twitter.svg) no-repeat right;
    }

    &_gplus {
      background: url(../../assets/google_+.svg) no-repeat right;
    }

    &_instagram {
      background: url(../../assets/instagram.svg) no-repeat right;
    }

    &_search {
      background: url(../../assets/Search_Ico.png) no-repeat right;
    }

    &_user {
      background: url(../../assets/User_Ico.png) no-repeat right;
    }

    &_cart {
      background: url(../../assets/Cart_Ico.png) no-repeat right;
    }
  }

  &__logo {
    background: url(../../assets/logo.png) no-repeat;
    width: 120px;
    height: 40px;
  }

  &__links {

    &-container {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 80px;
    }

    &-item {
      text-decoration: none;
      color: $color-limed-spruce;
      font-size: $font-size-semi-md;
      padding: 0;
      margin-right: 20px;
      &:hover, &_active {
        color: $color-orange;
      }
    }
  }

  &__search {
    &-container {
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
    }

    &-bar {
      flex-grow: 1;
      background-color: $color-white;
      border: 1px solid $color-limed-spruce ;
      border-radius: 10px;
      padding: 2px 7px;
      visibility: hidden;
    }

    &-button {
      display: none;

      &:checked ~ .header__search-bar{
        visibility: visible;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .header {
    &__wrapper_column {
      flex-direction: column;
      align-items: stretch;
    }

    &__links-container {
      padding: 0;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    &__logo {
      align-self: center;
    }

    &__links-item {
      margin-right: 14px;
    }
  }
}

@media all and (max-width: 1023px) {
  .header {
    &__links-item {
      margin-right: 20px;
    }

    &__search-container {
      order: 1;
      margin-top: 20px;
    }
  }
}

@media all and (max-width: 767px) {
  .header {
    padding: 0;

    &__wrapper  {
      flex-direction: column;
      align-items: center;

      &_row {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
    }

    &__icon {
      margin: 0;
      margin-top: 10px;
      background-position: center;
      &_big {
        margin: 0;
      }

      &_search {
        margin: 0;
        margin-left: 10px;
        align-self: center;
      }
    }

    &__search-container {
      flex-grow: initial;
      width: 80%;
    }

    &__search-bar {
      visibility: visible;
    }

    &__links-container {
      flex-direction: row;
      align-items: center;
      margin: 0;
      flex-grow: initial;
      justify-content: space-around;
      width: 100%;
    }

    &__menu-button {
      display: block;
      order: 1;
    }

    &__burger-menu {
      display: none;
    }

    &__links-item {
      margin-right: 0;
    }
  }

  .header__menu-data-input:checked + .header__links-container {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: $color-white;
    padding-bottom: 150px;
    box-sizing: border-box;

    & .header {
      &__icon_big {
        display: none;
      }

      &__burger-menu {
        display: flex;
      }

      &__menu-button {
        order: 0;
      }
    }
  }
}