@import '../../style/main';

.item-card-small {
  transition: 400ms ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 3 - 80px);
  height: 160px;
  padding: 0 28px;
  background-color: $color-white;
  cursor: pointer;

  @media screen and (max-width: 1024px){
    max-width: calc(80%);
    width: 370px;
    margin-bottom: 20px;
  }

  &__image {
    width: 90px;
    margin-right: 10px;
  }

  &__devider {
    width: 1px;
    height: 56px;
    background-color: $color-athens-gray;
  }

  &__name {
    margin: 0;
    margin-bottom: 28px;
    font: 700 $font-size-md $font-primary;
    color: $color-limed-spruce;
  }

  &__price {
    margin: 0;
    font: 700 $font-size-semi-md $font-primary;
  olor: $color-orange;
  }

  &__info {
    margin-left: 15px;
    flex-grow: 1;
  }

  &__info-dynamic {
    position: relative;
    height: 35px;
  }

  &__price-rating-block {
    position: absolute;
    transition: 400ms ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__cart {
    opacity: 0;
    transition: 400ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  &__cart-button {
    transition: 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font: 700 $font-size-semi-md $font-primary;
    color: $color-orange;

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: url(assets/Add_To_Cart_Ico.png);
      margin-right: 9px;
      width: 22px;
      height: 22px;
    }
  }

  &__rating-star {
    width: 13px;
    height: 13px;
  }

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);


    .item-card-small__price-rating-block {
      opacity: 0;
    }

    .item-card-small__cart {
      opacity: 1;
    }
  }
}