@import '../../.././style/main.scss';

.login-window-content__controls-button {
  @include font-primary-regular-md;
  transition: 200ms ease-in;
  border: 0;
  border-bottom: 2px solid transparent;
  height: 50px;
  width: 50%;
  cursor: pointer;
  outline: 0;

  &_enabled {
    color: $color-orange;
    border-bottom: 2px solid $color-orange;
  }
}