@import '../../.././style/main.scss';

.login-window-content__controls-button {
  @include font-primary-regular-md;
  transition: 200ms ease-in;
  border: 0;
  height: 50px;
  width: 50%;
  cursor: pointer;
  background: $color-athens-gray;
  outline: 0;

  &_enabled {
    background: transparent;
    color: $color-orange;
    height: 48px;
    border-bottom: 2px solid $color-orange;
  }
}